.wrap{
  margin: 20px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  background: #fff;
}
.header{
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}
.header-ls{
  margin: 5px;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 20px;
  color: #646464;
  background-color: #f6f6f6;
}
.header-ls-act{
  color: #0084ff;
  background-color: rgba(0,132,255,.1);
}
.main{
  padding: 10px 20px;
}
.main-ls{
  padding: 10px;
  padding-left: 50px;
  display: block;
}
.main-ls-index{
  margin-left: -50px;
  text-indent: 10px;
  color: #ff9607;
  font-weight: bold;
}
.main-ls-title{
  color: #444;
}
.main-ls-title:hover{
  opacity: .5;
}

html{
  height: 100%;
  user-select: none;
  background: rgba(0,132,255,.1);
}
body{
  height: 100%;
  overflow: auto;
}
#suggest{
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -19px;
  width: 38px;
  height: 38px;
  border: 2px solid #409eff;
  border-radius: 4px;
  background: #fff url('/images/suggest.png') no-repeat center;
  background-size: 24px 24px;
}
.suggest-wrap{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  display: none;
  overflow: hidden;
}
.suggest-main{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -197px;
  width: 320px;
  background: #fff;
  padding: 20px 20px 30px;
  box-sizing: border-box;
}
.suggest-ls{
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
}
.suggest-ls-title{
  width: 80px;
}
.suggest-ls-input{
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
}
.suggest-captcha{
  width: 80px;
  height: 24px;
}
.suggest-ls-textarea{
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #dcdfe6;
}
.suggest-btn{
  display: block;
  background: #0084ff;
  width: 120px;
  line-height: 32px;
  border: none;
  color: #fff;
  font-size: 14px;
}
.suggest-wrap-close{
  background: #07c160;
}
.suggest-title{
  text-align: center;
  line-height: 20px;
  padding-bottom: 20px;
}

.w-100{
  width: 100px;
}
.w-200{
  width: 200px;
}
.mb-20{
  margin-bottom: 30px;
}